@import url(./root.css);

.contact-sec{
    /* border: red solid; */
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 3em;
    flex-direction: column;
}
.contact-icons{
    /* border: red solid; */
    display: flex;
    justify-content: center;
}
.contact-sec>h2{
    margin:0 auto;
    padding: 10px;
}
.con-desc{
    padding: 10px;
    width: 90%;
    margin:0 auto;
    text-align: center;
}
.contact-icons>ul{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
}

.contact-icons a{
    text-decoration:none;
}
@media screen and (max-width:1000px) {
}