@import url(./root.css);

.home-page{
    height: 100vh;
    width: 100%;
    padding: 1em;
    /* border: yellow solid; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img1{
    /* border: red solid; */
    width: 30%;
    height: 100%;
    background-image: url(../img/home-img2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.home-container{
    /* border: green solid; */
    width: fit-content;
    height: fit-content;
    padding: 1em;
}

.my-name{
    font-weight: 600;
}

@media screen and (max-width:1000px) {
    .img1{
        width: 100%;
        height: 50%;
    }
    .home-container{
        top: 10%;
        left: 0;
    }
    .home-page{
        display: block;
    }
}