@import url(./root.css);

.show-case{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* border:  red solid; */
    padding: 4em;
}
.card-container{
    height: 100%;
    width: 100%;
    /* border: red solid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1em; */
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
}
.card-container-scroller{
    height: 100%;
    width: 80%;
    /* padding: 1em; */
    /* border: yellow solid; */
    /* min-width:200px; */
    /* display:  flex; */
    /* justify-content: center; */
    scroll-snap-align: center;
}

.card{
    /* border: green solid; */
    display: flex;
    /* flex-wrap: wrap-reverse; */
    flex-direction: column;
    background-color: #000000ca;
    height: 100%;
    width: 80%;
    min-width:200px;
    padding: 10px;
    font-size: 18px;
    margin: auto;
    transition: .3s;
}
.proj-img{
    display: flex;
    align-items: center;
}
.proj-img-container{
    width: 100%;
}
.content{
    /* border:  red solid; */
    display: flex;
    flex-direction: column;
}
.proj-title{
    /* border: yellow solid; */
    height: 20%;
    width: fit-content;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.proj-tags{
    /* border: pink solid; */
    height: 10%;
    display: flex;
    align-items: center;
}
.tag{
    /* border: 1px red solid; */
    margin-right: 5px;
    font-size:12px;
    padding:5px 10px 5px 10px;
    background-color: white;
    color:#0085d3;
    font-weight: 500;
}
.proj-descp{
    /* border: orange solid; */
    height: 30%;
    overflow:hidden;
    font-size: small;
}
.card-btn{
    /* border-radius: 20px; */
    margin:0 auto;
    color: #0085d3;
    font-weight: 800;
    background-color: white;
    padding:10px;
    cursor: pointer;
    border: none;
    transition: .3s;
}
.card-btn:hover{
    box-shadow: white 4px 4px 5px 0px;
    transform: scale(1.05);
}
.show-case-footer{
    margin:5px auto;
}
.show-case-footer>a{
    margin-left: 10px;
}
@media screen and (min-width:1001px) {
    .card-container { --scrollbar-border-thickness: 0px; --scrollbar-width: 10px; --scrollbar-height: 10px; --show-double-buttons: none; --scrollbar-track-color: #A1A1AA00; --scrollbar-thumb-color: #0150B0; } .card-container::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); }.card-container::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }.card-container::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #A1A1AA); }.card-container::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }.card-container::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); }
    .card{
        flex-direction: row-reverse;
    }
    .proj-img, .content{
        width: 50%;
    }
    .content{
        justify-content: center;
    }
}
@media screen and (max-width:1000px){
    .card{
        height: 90%;
        width: 90%;
        margin-top: 50px;
    }   
    .show-case{
        padding: 0;
    }
    .card-container{
        padding: 0;
        height: 80%;
        scroll-snap-type:none;
    }
    .show-case-footer{
        font-size: 15px;
    }
    .proj-title{
        height: 10%;
        margin:0 auto 10px;
    }
    .proj-tags{
        margin: auto;
    }
}