@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

:root {
    --bg1: #001220;
}


.background{
    position: absolute;
    width:100%; /* Use 100% instead of 200vw */
    height:440vh;
    content: "";
    background-image: url(../img/home-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
}

@media screen and (max-width: 700px) {
    .background{
        height: 403vh;
    }
}
